---
layout: default
title: "Home Page"
fulltitle: "My New Website | About"
excerpt: This is the greatest website on earth. Share! Like! Subscribe! I'm dead inside!
---

{% include nav_bar.html %}


{% include social-media-links.html %}
<div class="row">
</div>

<div class="row">
  <div class="columns six">
    <div class="b-about-image">
      <img src="/img/profile.jpg" alt="Profile Picture" class="b-about-image__photo">
    </div>
  </div>
  <div class="columns six">
    <h1>About page</h1>
  </div>
</div>
