<ul class="b-social-menu u-pull-right">
  <li class="b-social-menu__link">
    <a href="https://twitter.com/{{site.twitter}}">
      <i class="fa fa-twitter" aria-hidden="true"></i>
    </a>
  </li>
  <li class="b-social-menu__link">
    <a href="https://facebook.com/{{site.facebook}}">
      <i class="fa fa-facebook" aria-hidden="true"></i>
    </a>
  </li>
  <li class="b-social-menu__link">
    <a href="{{site.linkedin}}">
      <i class="fa fa-linkedin" aria-hidden="true"></i>
    </a>
  </li>
</ul>
