body {
  font-family: $primary-font;
}

.b-nav-bar {
  text-align: right;
}

.b-nav-bar__link {
  padding-top: 2em;
  display: inline-block;
  padding-left: 0.5em;
  a {
    text-decoration: none;
    color: $primary;
  }
}


.b-header {
  border: 0.2em solid $primary;
  padding: 2em;
}

.b-header__name {
  font-size: 4em;
  color: $primary;
}


.b-social-menu {
  // does this go here?
}

.b-social-menu__link {
  height: 2em;
  width: 2em;
  border-radius: 50%;
  background-color: $primary;
  display: inline-block;
  text-align: center;
  .fa {
    color: white;
    padding-top: 7px;
    cursor: pointer;
  }
}

.b-blog-box {
  border: 0.2em solid $primary;
  border-top: 1em solid $primary;
  padding: 2em;
  margin-bottom: 1.5em;
}

.b-blog-box__link_container {
  text-align: right;
}

.b-blog-box__button {
  color: $primary;
  border: 0.1em solid $primary;
  padding: 0.3em 1.6em;
  text-decoration: none;
  cursor: pointer;
}

// I'm not sure how I feel about this;
.b-spacer {
  margin: 2em;
}


// ABOUT PAGE

.b-about-image__photo {
  border-radius: 50%;
  width: 100%;
}
